node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.example
.vscode
.idea
coverage
.DS_Store
docker-compose.yml
Dockerfile
.dockerignore
documentation
test
.eslintrc.js
prettier.config.js
